@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  
        <div class="logo">
            <h1>D N D</h1>
        </div>

        <div class="section">
            <div class="slideToggle">
                <img src="~/images/icons/down.png" class="menuImg">
            </div>
            <div class="sectionBoard">
                <button>
                    <i class="fa fa-home"></i>
                </button>

                <button>
                    <i class="fa fa-map-marker"></i>
                </button>
                <button>
                    <i class="fa fa-search"></i>
                </button>
                <button>
                    <i class="fa fa-history"></i>
                </button>
                <button>
                    <i class="fa fa-pie-chart"></i>
                </button>
                <button>
                    <i class="fa fa-phone"></i>
                </button>
            </div>

        </div>


  
